.tagList {
  margin: 10px 0;

  span {
    background-color: #ff6060;
    color: #fff;
    margin-right: 10px;
    padding: 5px;
    border-radius: 7px;
  }
}

@media (max-width: 480px) {
  span {
    font-size: 10px;
    font-weight: 700;
  }
}