@import './styles/media-query.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: white;
  margin: auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ff6060;
}

header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff6060;
}

.home-icon {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

nav a {
  text-decoration: none;
  color: black;
}

h1 {
  color: #ff6060;
}
